<div class="card">
  <div class="card-header" id="heading<%= remove_spaces id %>">
    <h2 class="mb-0">
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#Collapse<%= remove_spaces id %>" aria-expanded="true" aria-controls="#Collapse<%= remove_spaces id %>">
        <%= id %>
      </button>
    </h2>
  </div>
  <div id="Collapse<%= remove_spaces id %>" class="collapse" aria-labelledby="heading<%= remove_spaces id %>" data-parent="#connectingRoundQuestions">
    <div class="card-body">
      One day you will be able to create your question here
    </div>
  </div>
</div>