<div class="card">
    <div class="card-header" id="heading<%=id%>">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#Collapse<%= id%>" aria-expanded="true" aria-controls="#Collapse<%=id%>">
          Question <%=id%>
        </button>
      </h2>
    </div>
    <div id="Collapse<%= id%>" class="collapse" aria-labelledby="heading<%=id%>" data-parent="#connectingRoundQuestions">
      <div class="card-body">
        One day you will be able to create your question here
      </div>
    </div>
</div>